/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .navbar-default {
   background-color: #AD5998;
   border-color: #AD5998;
 }

 .navbar-default .navbar-brand {
   color: #fff;
 }

 .navbar-default .navbar-toggle {
   border-color: #771B61;
 }

 .navbar-default .navbar-toggle .icon-bar {
   background-color: #771B61;
 }

 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   background-color: #E3B8D8;
 }

 html {
 	font-family: 'Lato', sans-serif;
 }



 .panel-default {
   border-color: #771B61;
 }

 .panel-default > .panel-heading {
   color: #fff;
   background-color: #771B61;
   border-color: #771B61;
 }

 .panel-body {
 	color: #771B61;
 }


 .transit {
 	background-color: #AD5998;
 	color: #fff;
 	padding: 20px;
 }

 .default {
 	background-color: #5AA53A;
 	color: #fff;
   border: 1px solid #5AA53A;
 }

 .red {
 	background-color: #BA414D;
 	color: #fff;
   border: 1px solid #BA414D;
 }

 .light-purple {
 	background-color: #AD5998;
 	color: #fff;
   border: 1px solid #AD5998;
 }

 .collapse.in {
   display: initial;
   margin-top: 0px;
   padding-left: 0px;
 }

 .collapse {
   display: none;
   margin-top: 0px;
   padding-left: 0px;
 }

 .panel-heading a {
   text-decoration: none;
   color: #fff;
 }

 .arrow {
   font-size: 18px;
 }